/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 17, 2016, 2:20:14 PM
    Author     : Jessica
*/

/* CSS for the Antreaders Bookstore website front page */

body{
    background-color: #F1F7DC;
}

h1{
    font-family: "Terbuchet MS", Helvetica, sans-serif;
    color: #2E1943;
    text-align: center;
    
    margin: 10px;
}

#title{
    /* Debugging purposes */
    border: 1px solid black;
    
    text-align: left;
    vertical-align: bottom;
}

a:link{
    text-decoration: none;
}

.menu{
    /* Debugging purposes */
    border: 1px solid black;
    
    text-align: center;
    vertical-align: bottom;
    font-family: "Terbuchet MS", Helvetica, sans-serif;
    font-size: 1.1em;
    padding: 1px;
}

.frontpagepic{
    width: 100%;
    background-color: #594166;
    text-align: center;
}


